<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashi.irrigatedmanager">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9wRT0oCbumXTUksxcWjwZOpW6RVshFBd" />

        <activity android:name=".Level2_1_irrigateOverview">

        </activity>
        <activity android:name=".Level2_3_projectInfo" />
        <activity android:name=".Level2_5_appvalProcess" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Level2_2_2_inspectNote" />
        <activity android:name=".Level2_2_5_1_manualInspect" />
        <activity android:name=".Level2_5_1_appvalDetails" />
        <activity android:name=".Level2_2_5_2_manualInspect" />
        <activity android:name=".Level2_2_projectInspection2" />
        <activity android:name=".Level2_4_realtimeMonitor2" />
        <activity android:name=".Level2_4_3_rain2" />
        <activity android:name=".Level2_6_irrigationSchedule2" />
        <activity android:name=".Level2_2_3_inspectDetails2" />
        <activity android:name=".Level2_2_3_inspectDetailsPie" />
        <activity android:name=".Level2_2_5_3_manualInspect" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ashi.irrigatedmanager.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".Level2_3_projectInfo2" />
        <activity android:name=".Level2_3_projectInfo3" />
        <activity android:name=".Level2_3_projectInfo4" />
        <activity android:name=".Level2_4_3_rain3"></activity>
    </application>

</manifest>