<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ashi.irrigatedmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Level2_1_irrigateOverview" />
        <activity android:name=".Level2_2_projectInspection" />
        <activity android:name=".Level2_3_projectInfo" />
        <activity android:name=".Level2_4_realtimeMonitor" />
        <activity android:name=".Level2_5_appvalProcess" />
        <activity android:name=".Level2_6_irrigationSchedule"></activity>
    </application>

</manifest>